.login-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.login-btn-icon {
  margin-right: 5px;
  height: 13px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.nav-section img {
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu-serch {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu-serch input {
  width: 230px;
  height: 35px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
  padding-left: 25px;
}
.menu-serch-icon {
  position: absolute;
  left: 5px;
  top: 10px;
}
.card {
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card:hover {
  scale: 1.025;
}
.login:hover {
  cursor: pointer;
}

.container-login {
  display: flex;
  justify-content: center;
}
.container-login form {
  max-width: 400px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
#dropdown-basic-button {
  height: 35px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
}
.product-container {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .product-img {
    display: flex;
    justify-content: flex-end;
    height: 220px;
  }
}
